*, *::before, *::after {
	box-sizing: border-box; }

$font-header: 'Domine', serif;
$font-text: 'Roboto', sans-serif;

body {
  color: black;
  font-family: $font-text;
  background-color: #EEEEEE;
  h1, h2, h3, h4, h5 {
    font-family: $font-header;
  }
}
.container {
    max-width: 1140px;
    padding: 0 20;
    margin: 0 auto;
}
/* header */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.postimg.cc/FsX1dTqc/main-big.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: white;
  .hero-title {
    flex: 2;
    p {
      margin: 0;
      text-align: center;
      font-size: 60px;
      font-weight: bold;
      font-family: $font-header;
      text-decoration: underline;
    }
  }
  .hero-nav{
    display:flex;
    flex: 4;
    justify-content: center;
    margin-left: 40px;
    a {
      padding-right: 30px;
      padding-left: 30px;
      color: white;
      text-decoration: none;
      font-size: 26px;
    }
    a:visited {
      color: white;
    }
  }
  .hero-text {
    flex: 100%;
    display: flex;
    flex-direction: column;
    p {
      margin: 20px auto 20px;
      font-size: 48px;
      font-weight: bolder;
    }
    button {
      margin: auto;
      margin: 20px auto 124px;
      background-color: #ffffe6;
      color: black;
      border: none;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      display: inline-block;
      border-radius: 5px;
    }
  }
  .hero-nav, .hero-title {
    margin: 20px 0 60px;
  }
}

/* content */
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FEFEF7;
  margin-top: 60px;
  .services-header {
    flex: 100%;
    margin: 60px 0;
    h1 {
      text-align: center;
      font-size: 54px;
      font-weight: bold;
      margin-bottom: 0;
    }
    p {
      text-align: center;
      font-size: 20px;
      margin-top: 0;
    }
  }
  .services-content{
    display: flex;
    .coockies, .breads, .cakes {
      flex: 1;
      text-align: center;
      i {
        display: inline-block;
        border-radius: 50%;
        box-shadow: 0px 0px 2px red;
        text-shadow: 2px 2px 5px black;
        padding: 10px;
        border: 1px solid #FFED80;
        font-size: 24px;
        color: #FFED80;
      }
      h2 {
        margin: 20px auto 5px;
        font-size: 30px;
      }
      p {
        margin: 20px;
        font-size: 20px;
      }
    }
  }
}

/* our baked goods */

.goods {
  display: flex;
  flex-wrap: wrap;
  .goods-header {
    flex: 100%;
    margin: 100px;
    h1, p {
      text-align: center;
    }
    h1 {
      font-size: 54px;
      margin-top: 100px;
    }
    p {
      font-size: 20px;
    }
  }
  .goods-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-end;
    .goods-content {
      flex: 33.3333%;
      text-align: center;
      margin: 40px 0px;
      background-color: #FEFEF7;
      border: 20px solid #EEEEEE;
      img {
        max-width: 100%;
        height: auto;
      }
      h1 {

      }
      p {
        font-size: 20px;
        font-style: italic;
        color: grey;
      }
    }
  }
}
